<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.server">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.android.server.ServerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.android.server.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.server.activity.client.TestClientActivity" />
        <activity android:name=".activity.client.HttpTestActivity" />
        <activity android:name=".activity.client.DownUpdateActivity" />
        <activity android:name=".activity.client.LoadImageActivity" />

        <activity
            android:name="com.android.server.activity.server.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.server.HttpServerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.server.FileListActivity"
            android:screenOrientation="landscape" />

        <service android:name="com.android.server.service.ServerService" />
        <service android:name="com.android.server.service.UdpService" />


        <!--android 7.0apk安装使用-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.android.server.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>